<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vizitkar.Properties.Settings.ContactDbConnectionString"
            connectionString="Data Source=|DataDirectory|\ContactDb.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>